/* styling the line item */

.mobile>div {
    position:relative;
    height:200px;
    margin: 0 !important;
    padding: 0 !important;
}

.mobile-image {
    position:absolute;
    z-index:0;
    width: 200px;
    margin: 0 !important;
    padding: 0 !important;
}

.mobile-image>img {
    margin:0 !important;
    max-width: 200px;
}

/*layout*/
.details_pane .col1 {
  float: left;
  width: 250px;
  padding: 15px;
}

.details_pane .col2 {
  float: left;
  width: 300px;
  padding: 15px;
}

.details_pane .col3 {
  float: left;
  width: 25%;
  padding: 15px;
}

.sub_text {
   font-size: 12px;
   line-height: 16px;
   margin: 5px 0 0 0;
   color: #666;
}

.screen {
    text-align:justify;
    width:100%;
}

.rating-container {
height:17px;
overflow:hidden;
}

.rating {
    width:100px;
    left: -11px;
    position: relative;
}


.button-learn-more{
    display:inline-block;
    float: right;
}

.button-learn-more>a {
    color:white!important;
    background-color: rgb(8, 158, 255);
    border-radius:2px;
    display:inline-block;
    font-size:14px;
    font-weight:bold;
    padding:8px!important;
    text-align:center;
    text-decoration:none;
    float: right;
}


/*** Awesome Table ***/
/*
.awt-csvFilter-button {
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	background-color: #835A58 !important;
	color: #11E440 !important;
	display: flex !important;
	padding: 15px 12px !important;
	vertical-align: middle !important;
}
*/
/*** Google visualization override ***/

/* Table view header */
.google-visualization-table-table .gradient,
.google-visualization-table-div-page .gradient {
        background: #3C81F8 !important;
        color:#ffffff;
	padding: 10px 8px !important;
}

/* selected/hovered row in a TABLE view */
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-over td {
        background-color: #FFFFFF!important;
}


/*** Configuration of FILTERS ***/


/* CategoryFilter & csvFilter hovered item in the dropdown */
.charts-menuitem-highlight {
        background-color:#3C81F8!important;
        color:#FFF!important;
}

/* header */
.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
        background: #9DD0F1 !important;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: normal;
}

.google-visualization-controls-label {
        font-weight: 500!important;
}

@media (max-width: 550px) {
        .mobile {
                margin: 10px auto 10px auto!important;
                float:none;
        }
        .mobile-bis {
                margin : 10px!important;
        }
}
@media (min-width: 550px) {
        .mobile {
                margin: 20px!important;
                float:left;
        }
        .mobile-bis {
                margin : 20px!important;
        }
}



/* The Modal (background) - for the parent view */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
